<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest News -->
    <div class="row" id="news">
      <div class="col-md-12">
        <h3 class="header">{{scrape_dictionary.news_title}}</h3> 
        <h4>{{scrape_dictionary.news_p}}</h4> 
      </div>
    </div>
    <div class="container">
    <div class="img" id="featured">
      <div class="col-md-8">
        <h3 class="heading">Featured Mars Image</h3>
          <img class="img-responsive" src="{{scrape_dictionary.featured_image_url}}" alt="JPL Featured Image">
          </div>
      </div>
        <div class="col-md-4">
        <div class="row" id="weather">
          <!-- <div class="col-md-4"> -->
            <h5 class="heading">Current Weather on Mars</h5>
            <h6>{{scrape_dictionary.mars_weather}}</h6>
          </div>
        </div>
      <div class="mars_facts" id="facts">
          <!-- <div class="col-md-4"> -->
            <ul style="list-style: none;">
             {% for table in tables%}
              <li>{{scrape_dictionary.0 }}: {{scrape_dictionary.1 }}</li>
              {% endfor%}
            </ul>
            </div>
          </div>
        </div> 
      </div>  
      </div>
      <div container>
        <div class="col-md-6">
          <div class="img" id="cerberus"> 
            <h3 class="heading">{{scrape_dictionary.title}}</h3>
              <img class="img-responsive" src="{{scrape_dictionary.img_url}}" alt="Cerberus">
            </div>
        </div> 
      </div>

    </div>
  </div>
</body>

</html>

